#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.header {
  width: 100vw;
  background-color: rgb(152, 63, 63);
  height: 10vh;
  position: absolute;
  top: 0;
  left: 0;
}
.footer {
  width: 100vw;
  background-color: rgb(152, 63, 63);
  height: 8vh;
  position: absolute;
  bottom: 0;
  left: 0;
}
.main-page {
  height: 90%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 97px;
  /* background-color: #d2adec; */
}
.home-placement {
  position: relative;
  top:34vh;
}
.nav-list {
  position: relative;
  right: 20px;
  top: 15px;
}

.header-heading {
  position: relative;
  top: 14px;
  left: 18px;
  font-family: fantasy;
}
.mostImp {
  position: relative;
  top:7vw;
}
.mostImpTextField {
  background-color: white;
  border-radius: 5px;
  height: 33px;
  width: 12vw;
  padding: 5px;
}
.mostImpImage {
  width:11vw;
}
.mostImpBtns {
  background-color: rgb(199, 127, 199);
  width:5vw;
}